.header{
    text-align: center;
}
.header img{
    height: 80px;
}

.header nav{
    text-align: left;
    line-height: 40px;
    background-color: black;
    

}
.header nav a:hover{
    background-color: #f8f8f8ee;
    color: black;
}
.header nav a{
    margin: 20px;
    padding: 5px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}